.navbar {
  background-color: #1db954; 
}

.genre-item h5 {
  color: #1db954;
}

.card-title {
  font-weight: bold;
}
<<<<<<< HEAD
.container {
    padding: 1rem;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .container {
        padding: 2rem;
        max-width: 720px;
    }
}

=======

.btn-primary {
    background-color: #1da1b9;
    border: 0px;
  }
 
  .btn-primary:hover {
    background-color: #126675;
    border: 0px;
  }
 
 
  .hero {
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
}
 
>>>>>>> 5b94428eceba6b6050f49db19a6a09f0989dddf3
