.navbar {
  background-color: #1db954; 
}

.genre-item h5 {
  color: #1db954;
}

.card-title {
  font-weight: bold;
}
.container {
    padding: 1rem;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .container {
        padding: 2rem;
        max-width: 720px;
    }
}

